<h2>Author Listing</h2>
<div>
  <% @authors.each do | author | %>
    <p>
      <%= author.name %>
      <%= author.title %>
      <%= link_to "Edit", edit_author_path(author) %>
      | <%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<div>
  <h3>Add New Author</h3>
  <%= render 'form' %>
</div>


