<%= form_for(@post) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= label_tag "Author" %>
      <%= f.collection_select :author_id, Author.all, :id, :name %>
      <%= label_tag "Subject" %>
      <%= f.text_field :subject %>
      <%= label_tag "Category" %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
      <%= label_tag "Content" %>
      <%= f.text_area :content %>
      <%= f.submit class: "button small" %>
    </div>
  </div>
<% end %>
