<!-- Nav Bar -->
<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to "New Post", new_post_path, class: "button tiny" %></li>
      </ul>
    </div>
    <h1>Holly's Blog <small>Come chat for a while...</small></h1>
    <hr/>
  </div>
</div>
<!-- End Nav -->

<!-- Main Page Content and Sidebar -->
<div class="row">
  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">


    <% @posts.each do | post | %>
      <article>
        <h5><%= link_to post.subject, post_path(post) %></h5>
        <h6>Written by <%= post.author.name %> on <%= post.created_at.strftime("%Y-%m-%d") %>
        . (<%= post.comments.count.to_s + "#{post.comments.count >1 ? ' comments' : ' comment'}" %>)</h6>

        <div class="row">
          <div class="large-6 columns">
            <ul class="inline-list">
              <li><%= link_to "Edit", edit_post_path(post) %></li>
              <li><%= link_to "View", post_path(post) %></li>
            </ul>
          </div>
      </article>
    <hr />
    <% end %>

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <aside class="large-3 columns">
    <h5>Categories</h5>
    <ul class="side-nav">
      <% @categories.each do | cat | %>
        <li><%= link_to cat.name, posts_path %></li>
      <% end %>
    </ul>
  </aside>
  <!-- End Sidebar -->
</div>
<!-- End Main Content and Sidebar -->

