<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to "Edit Post", edit_post_path(@post), class: "button tiny" %></li>
       <li><%= link_to "Return to Post Listing", posts_path, class: "button tiny"%></li>
      </ul>
    </div>
    <h1>Holly's Blog <small>Come chat for a while...</small></h1>
    <hr/>
  </div>
</div>



<div class="row">


<div class="large-9 columns" role="content">

  <article>

    <h3><a href="#"><%= @post.subject %></a></h3>
    <h6>Written by <%= @post.author.name %></a> on <%= @post.created_at.strftime("%Y-%m-%d") %>.</h6>

    <div class="row">
      <div class="large-6 columns">
        <p><%= @post.content %></p>
      </div>
    </div>

    <div>
    <h5>Comments:</h5 >
      <ul>
        <% @comments.each do | comment | %>
          <li>
            <%= comment.content %>
            (From <%= comment.author.name %> on <%= comment.created_at.strftime("%Y-%m-%d") %>)
          </li>
        <% end %>
      </ul>
    </div>
  </article>

</div>

<div>
  <aside class="large-3 columns">
    <%= render 'comments/form' %>
  </aside>
</div>

